.features-container
  width: 100vw
  display: flex
  align-items: center
  flex-direction: column

  .features-header
    font-family: $opensans
    font-size: 34px
    padding-top: 60px
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      font-size: 5em
  .feature-items-container:nth-of-type(1)
    padding-top: 30px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    border-bottom: 1px solid #d4d6d8
    justify-content: center
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      flex-direction: column
      border: none
    .feature-item:nth-of-type(1)
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
        border: none
    .feature-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 300px
      height: 200px
      padding: 20px 30px
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
        width: 55vw
        height: 20vh
        padding-top: 60px
        border-top: 1px #d4d6d8 solid
      .feature-picture-1
        padding: 10px
        background-image: url('../img/funnel.png')
        height: 100px
        width: 100px
        background-size: contain
      .feature-picture-2
        padding: 10px
        background-image: url('../img/search.png')
        height: 100px
        width: 100px
        background-size: contain
      .feature-picture-3
        padding: 10px
        background-image: url('../img/star.png')
        height: 100px
        width: 100px
        background-size: contain
      .feature-content
        text-align: center
        padding: 15px
        font-family: $opensans
        color: $dark-grey
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
          font-size: 3.2em

.feature-item:nth-child(2)
  border-left: 1px solid #d4d6d8
  border-right: 1px solid #d4d6d8
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    border: none


.feature-items-container:nth-of-type(2)
  padding-top: 0px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    flex-direction: column
  .feature-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 300px
    height: 200px
    padding: 20px 30px
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      width: 55vw
      height: 20vh
      padding-top: 60px
      border-top: 1px #d4d6d8 solid
    .feature-picture-4
      padding: 10px
      background-image: url('../img/coffee-cup.png')
      height: 100px
      width: 100px
      background-size: contain
    .feature-picture-5
      padding: 10px
      background-image: url('../img/information.png')
      height: 100px
      width: 100px
      background-size: contain
    .feature-picture-6
      padding: 10px
      background-image: url('../img/review.png')
      height: 100px
      width: 100px
      background-size: contain
    .feature-content
      text-align: center
      padding: 15px
      font-family: $opensans
      color: $dark-grey
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
        font-size: 3.2em

div[class*='-picture']
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      background-repeat: no-repeat
      height: 250px
      width: 250px
