.navbar
  .logo-container
    position: absolute
    top: 0
    left: 0
    margin-left: 100px
    margin-top: 15px
    .logo
      font-family: $mont
      color: white
      font-size: 44px
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
        font-size: 6em

  .menu-list-container
    position: absolute
    z-index: 2
    top: 15px
    right: 80px
    background-color: rgba(0,0,0,0.6)
    border-radius: 2px
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      background-repeat: none
      height: 100px
      width: 100px
      background-image: url('../img/hamburger-big.png')
      background-color: transparent
      background-size: contain
      right: 30px
      top: 30px


.menu-list
    display: flex
    flex-direction: row
    list-style-type: none
    padding: 10px
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      flex-direction: column
      background-color: white
      position: absolute
      top: 99px
      right: 15px
      box-shadow: 8px 8px 12px rgba(0,0,0,0.2)
      display: none

.hidden
  display: flex

.menu-list-item
  padding: 5px 10px
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    padding: 40px 30px
  a
    color: white
    text-decoration: none
    font-family: $opensans
    font-size: 19px
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      color: black
      font-size: 3em


.splash-image-container
  width: 100vw
  height: 70vh
  background-image: url('../img/coffeeWifi.jpg')
  background-size: cover
  background-position: 0% 72%
  display: flex
  justify-content: center
  align-items: center
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    height: 100vh
    background-position: 30% 100%

#slides
  position: relative
  height: 70px
  width: 400px
  display: flex
  justify-content: center
  align-items: center
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    width: 80vw
  .slide
    position: absolute
    opacity: 0
    z-index: 1
    list-style-type: none
    color: white
    font-size: 66px
    transition: opacity 1s ease-in
    font-family: $opensans
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
      font-size: 8em
  .showing
    opacity: 1
    z-index: 2
